#essai{
  width :500px;
  height :400px;
}
table{
    border-collapse: separate;
    border-spacing: 2px 2px;
    
    bottom :405px;
    left :30em;
}



html {
  box-sizing: border-box;
}

code {
  background-color: #9AA3AC;
  padding: 0 8px;
}
